body {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Dosis', sans-serif;
}

.navbar {
    background-color: #323232;
    z-index: 254;
}

#navbar li a {
    color: #FFFFFF;
}

#navbar li a:hover {
    color: #757575;
}

.container.header {
    position: relative;
    margin-bottom: 20px;
}

#paris {
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0.8;
}

.signature {
    font-family: 'Fredericka the Great', cursive;
    float: right;
}

@media(max-width:767px){
    #paris {
        top: 5px;
    }
}