{% extends 'MLTicketingBundle::layout.html.twig' %}

  {% block title %} Infos {{ parent() }}{% endblock %}

  {% block booking %}

      <div class="row">
          <div class="col-xs-12">
              <h1>Infos pratiques</h1>
              <h3>Bienvenue sur le site du musée du Louvre.</h3>
              <p>Trouvez toutes les infos nécessaires afin de découvrir le musée dans les meilleures conditions.</p>
              <p>Ancien palais des rois, le Louvre épouse l’histoire de France depuis huit siècles. Conçu dès sa création en 1793 comme un musée universel, ses collections, qui figurent parmi les plus belles au monde, couvrent plusieurs millénaires et un territoire qui s’étend de l’Amérique aux frontières de l’Asie. Réparties en huit départements, elles contiennent des œuvres universellement admirées, comme La Joconde, la Victoire de Samothrace ou la Vénus de Milo. Le Louvre est aujourd’hui le musée le plus visité au monde.</p>
          </div>
      </div>

  {% endblock %}